<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <!-- nav section -->
    <div class="topw">
        <h3 class="topp">AGARTALA COASTAL INFORMATION </h3>
    </div>
    <header class="header-fixed">

        <div class="header-limiter">
    
            <h1><a href="#"><span><img src="/isro.png" alt="" class="navlogo"></span></a></h1>
    
            <nav>
                <a  class="nav-link"  >Home</a>
                <a   class="nav-link">About</a>
                <a   class="nav-link">Sign-up</a>
                <a  class="nav-link">Contact</a>
            </nav>
    
        </div>
    
    </header>
    
    
   <!-- log in section -->
   <div className='log'>
    
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                   
                    <img src="/bhuvan-logo.png" class="imgh" alt=""/>
                    
                </div>
                <div class="col-md-6 right">
                <form action="/users/login" method="POST">
                     <div class="input-box">
                        <header>Enter log in details</header>
                        <div class="input-field">
                            <input type="email" class="input" id="email" name="email" placeholder="email" autocomplete="off" required/>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="input" id="password" name="password" autocomplete="off" required/>
                            <label for="password">Password</label>
                        </div>
                        <div class="errors">
                          <% if (message && message.length > 0) { %>
                            <div class="alert alert-danger position-absolute sticky-top">
                              <%= message %>
                            </div>
                          <% } %> 
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Sign In"/>
                        </div>
                        <div class="signin">
                            <span>Don't have an account? <a href="/users/register">sign up here</a></span>
                        </div>
                     </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    </div>

    <!-- footer section -->
   <div>
    <footer class="footer">
        <div class="footer-left col-md-4 col-sm-6">
          <p class="about">
            <span> DISCLAIMER</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
            ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
          </p>
          <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      
      
        <div class="footer-center col-md-4 col-sm-6" id="scrollspyHeading2">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Agartala,Tripura</span> jirania, India</p>
          </div>
          <div >
          
            <i class="fa fa-phone"></i>
            <p> (+00) 0000 000 000</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> office@company.com</a></p>
          </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
          <h2> BHUVAN<span> GIS</span></h2>
          <p class="menu">
            <a href="#"> Home</a> |
            <a href="#"> About</a> |
            <a href="#"> Contact</a>
          </p>
          <p class="name"> BHUBAN_GIS &copy; 2023</p>
        </div>
      </footer>
    </div>
    

</body>
</html>