<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Document</title>
</head>
<body>
    <div class="topw">
        <h3 class="topp">AGARTALA COASTAL INFORMATION </h3>
    </div>
    <header class="header-fixed">

        <div class="header-limiter">
    
            <h1><a href="#"><span><img src="/isro.png" alt="" class="navlogo"></span></a></h1>
    
            <nav>
                <a  class="nav-link"  >Home</a>
                <a   class="nav-link">About</a>
                <a   class="nav-link">Sign-up</a>
                <a  class="nav-link">Contact</a>
            </nav>
    
        </div>
    
    </header>


    <!-- registration form -->
    <div class="container">
        <header>Registration</header>
        <% if (messages.error) { %>
          <p class="alert alert-danger position-absolute sticky-top"><%= messages.error %></p>
        <% } %>
        <form action="/users/register" method="POST" class="p-4 w-100">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label for="username"><b>Name</b></label>
                            <input type="text" placeholder="Enter Your Name" name="username" required />
                        </div>
                        <div class="input-field">
                          <label for="email"><b>E-mail</b></label>
                          <input type="email" placeholder="Enter Email Id" class="username" name="email" required />
                        </div> 
                        <div class="input-field">
                            <label></label>
                            <input type="password" placeholder="Create Password" name="password" required >
                        </div>
                        <div class="input-field">
                            <label></label>
                            <input type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required>
                        </div>

                        </div>                        
                        <div class="buttons">
                          <button class="sumbit" style="min-width:200px">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </form>

        


    </div>

    <!-- fotter section -->
      
    <div>
        <footer class="footer">
            <div class="footer-left col-md-4 col-sm-6">
              <p class="about">
                <span> DISCLAIMER</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
                ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
              </p>
              <div class="icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          
          
            <div class="footer-center col-md-4 col-sm-6" id="scrollspyHeading2">
              <div>
                <i class="fa fa-map-marker"></i>
                <p><span> Agartala,Tripura</span> jirania, India</p>
              </div>
              <div >
              
                <i class="fa fa-phone"></i>
                <p> (+00) 0000 000 000</p>
              </div>
              <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#"> office@company.com</a></p>
              </div>
            </div>
            <div class="footer-right col-md-4 col-sm-6">
              <h2> BHUVAN<span> GIS</span></h2>
              <p class="menu">
                <a href="#"> Home</a> |
                <a href="#"> About</a> |
                <a href="#"> Contact</a>
              </p>
              <p class="name"> BHUBAN_GIS &copy; 2023</p>
            </div>
          </footer>
        </div>
  
    <script src="signup.js"></script>

</body>
</html>